body {font-family: Montserrat, Helvetica Neue, sans-serif; margin: 0 auto; line-height: 2em; padding: 12px; box-sizing: border-box; color: #ffffff; overflow: auto; background: #d9d6d3;}
a
body, html {height: 100%;}

.wrapper {box-sizing: border-box; height: 100%; overflow: auto; text-align: center;}

a {text-decoration: none; color: #717171; border-bottom: 3px solid #db6f02;}
a:hover {color: #f4f4f4}
p {font-weight: 200; font-size: 24px; text-align: center}

.name {font-family: Montserrat; font-size: 55px; text-transform: none !important; text-align: center; font-weight: 900; padding: 18px; border: 7px solid #bbbbbb; color: #868686; display: inline-block; margin-bottom: 60px; top: 60px; left: 90px;}

.container {margin: 0 auto; width: 700px; padding: 120px 12px 50px; overflow: auto;}
article {padding: 60px;}
